header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
        .header__column
            ul
                li
                    a(herf=routes.join) Join
                li
                    a(herf=routes.login) Log In