.header {
	.header__wrapper {
		z-index: 1;
		background-color: $bg-header;
		width: 100%;
		position: fixed;
		top: 0;
		padding: 0 30px;
		height: 56px;
		display: flex;
		align-items: center;
		color: white;
		.header__column {
			&:first-child {
				font-size: 20px;
				.logo {
					color: $red;
					margin: 0 10px 0 30px;
				}
			}
			&:nth-child(2) {
				flex-grow: 1;
				margin: 0 40px;

				input {
					max-width: 640px;
					color: white;
					background-color: #121212;
					border-radius: 0;
					&::placeholder {
						font-weight: 300;
						color: #888888;
					}
				}
				button {
					width: 65px;
					background-color: #ffffff14;
					color: #888888;
					border-radius: 0;
				}
			}
			&:last-child {
				font-size: 26px;
				ul {
					display: flex;
					li {
						margin-right: 22px;
					}
				}
			}
		}
	}
}
